.footer
  &-heading
    padding-top: 3rem
    padding-bottom: 2rem
    margin: 0 auto
    color: $color-black
    font-size: $font-large
    font-weight: 400
    text-transform: uppercase
    text-align: center

  &-content
    width: 51%
    margin: 0 auto
    text-align: center
    color: $color-black

  &-list
    margin-top: 2rem
    list-style-type: none
    font-size: $font-default

    &-item,
    &-item:link,
    &-item:visited
      color: $color-black
      padding: 1rem

    &-item:hover,
    &-item:active
      color: $color-white
      text-decoration: none
      transform: scale(1.1)
      box-shadow: 0 1rem 2rem rgba($color-black, .4);
      transition: all .2s

  &-paragraph
      margin-top: 2rem
