.footer
  &-heading
    padding-top: 3rem
    padding-bottom: 2rem
    margin: 0 auto
    color: $color-black
    font-size: $font-large
    font-weight: 400
    text-transform: uppercase
    text-align: center

  &-content
    width: 51%
    margin: 0 auto
    text-align: center
    color: $color-black

  &-list
    margin-top: 2rem
    list-style-type: none
    font-size: $font-default

    &-item,
    &-item:link,
    &-item:visited
      color: $color-black
      padding: 1rem
