.navigation
  &__checkbox
    display: none

  &__button
    position: fixed
    top: 6rem
    right: 6rem
    width: 7rem
    height: 7rem
    text-align: center
    border-radius: 50%
    z-index: 2000
    cursor: pointer
    background-color: $color-light-green

    @include responsive(tab-port)
      top: 4rem
      right: 4rem

    @include responsive(phone)
      top: 3rem
      right: 3rem

  &__background
    position: fixed
    top: 6.5rem
    right: 8rem
    width: 1px
    height: 1px
    z-index: 1000
    background-image: linear-gradient(to top, $color-light-green, $color-dark-green)
    backface-visibility: hidden
    transition: all .4s

    @include responsive(tab-port)
      top: 4.5rem
      right: 4.5rem

    @include responsive(phone)
      top: 3.5rem
      right: 3.5rem

  &__container
    position: fixed
    top: 0rem
    right: 0rem
    width: 0
    height: 100vh
    z-index: 1500
    opacity: 0
    transition: all .2s
    overflow: hidden

  &__list
    @include center
    width: 100%
    list-style: none
    text-align: right
