.video
  &__content
    width: 100%
    opacity: .4
    position: relative

.farmers
    width: 75%
    box-shadow: 0 3rem 6rem rgba($color-black, .1)
    border-radius: 2px

    &-box
      &-1
        position: absolute
        top: 30%
        left: 50%
        transform: translate(-50%, -30%) skewX(12deg)
        background-color: $color-white
        padding: 3rem

      &-2
        position: absolute
        top: 80%
        left: 50%
        transform: translate(-50%, -80%) skewX(-12deg)
        background-color: $color-white
        padding: 3rem

    &__shape
      position: relative
      width: 15rem
      height: 15rem
      float: left
      border-radius: 50%
      -webkit-shape-outside: circle(50% at 50% 50%)
      shape-outside: circle(50% at 50% 50%)
      -webkit-clip-path: circle(50% at 50% 50%)
      clip-path: circle(50% at 50% 50%)
      overflow: hidden

      &-1
        transform: translateX(-1rem) skewX(-12deg)

      &-2
        transform: translateX(-1rem) skewX(12deg)

    &__image
      height: 100%
      transition: all .5s
      backface-visibility: hidden

      &-1
        transform: translateX(2rem) scale(1.4)

