.video
  &__content
    width: 100%
    opacity: .4
    position: relative

.farmers
    width: 75%
    box-shadow: 0 3rem 6rem rgba($color-black, .1)
    border-radius: 2px

    &-box
      &-1
        position: absolute
        top: 30%
        left: 50%
        transform: translate(-50%, -30%) skewX(12deg)
        background-color: $color-white
        padding: 3rem

      &-2
        position: absolute
        top: 80%
        left: 50%
        transform: translate(-50%, -80%) skewX(-12deg)
        background-color: $color-white
        padding: 3rem

