.heading
  &-primary,
  &-sub
    margin: 0 auto
    text-align: center
    text-transform: uppercase
    color: $color-white

  &-primary
    padding-top: 20rem
    font-size: $font-xxl
    font-weight: 700

  &-sub
    padding: 2rem 0
    font-size: $font-large
    font-weight: 400

    @include responsive(phone)
      padding: 2rem

  &-secondary
    position: absolute
    top: 10%
    left: 50%
    transform: translate(-50%, -50%)
    color: $color-black
    font-size: $font-large
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 2.5px

    @include responsive(phone)
      position: relative
      text-align: center
      margin: 5rem auto 2.5rem auto

  &-tertiary
    color: $color-black
    font-size: $font-large
    font-weight: 400
    text-transform: uppercase
    text-align: center
