.section-header
  width: 100%
  height: 100vh

.section-about
  position: relative
  width: 100%
  height: 100vh
  background-color: $color-white

.section-produce
  position: relative

.section-menu
  position: relative
  height: 100vh
  background-color: $color-white

.section-contact
  position: relative
  height: 100vh
  background-color: $color-white
